footer
    .content
        .logo
            .logo__img
                img(src="./static/img/general/logo_asteuro.png")
            .logo__img
                img(src="./static/img/general/logo_rudn.png")
        .disclaimer © 2010-2018 ASTEURO GROUP. Все права защищены <br>
            a(href="#") Политика конфиденциальности