.container.color-purple
    .content
        .menu
            a(href="#knowledge").menu__item Чему Вы научитесь
            a(href="#about").menu__item Об ASTEURO - специалисты, оборудование, результаты
            a(href="#who").menu__item Кто Вас будет учить
            a(href="#after").menu__item А что же после обучения?
            a(href="#cont").menu__item Контакты

.container
    .content
        .header
            .logo-block
                .logo
                    .logo__img
                        img(src="./static/img/general/logo_asteuro.png")
                    .logo__img
                        img(src="./static/img/general/logo_rudn.png")
                .name
                    | Учебный центр ASTEURO
            .callback
                .tel
                    i.fa.fa-phone
                    a(href="tel:84995049859") 8 (499) 504-98-59
                button.btn.js-popup-form Обратный звонок


