header
    .container.color-purple
        .content
            .menu
                a(href="#knowledge").menu__item Чему Вы научитесь
                a(href="#about").menu__item Об ASTEURO - специалисты, оборудование, результаты
                a(href="#who").menu__item Кто Вас будет учить
                a(href="#after").menu__item А что же после обучения?
                a(href="#cont").menu__item Контакты




